/* Websites for Beginners */
/* Final Project */
/* Allen P. */
/* Styles.css */
/* 12/18/2021 */

/* Define color names to match images */
/* The following colors were picked from an image of a granny square. */
:root {
  --lightaran: #e1ddc4;
  --darkaran: #dcd4bc;
  --lightbuff: #cebb93;
  --darkbuff: #beaf86;
  --lightlatte: #846e4c;
  --darklatte: #584827;
  --lightcoffee: #22140d;
  --darkcoffee: #040501;
}



body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  color: var(--lightcoffee);
  background-color: var(--lightaran);
}

nav {
  display: block;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: var(--lightaran);
  background-color: var(--lightcoffee);
  position: fixed;
  top: 0;
  width: 100%;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: var(--lightaran);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: var(--darklatte);
}

nav .active {
  color: var(--lightcoffee);
  background-color: var(--darkbuff);
}

nav::after {
  clear:both;
}

h1 {
  text-align: center;
}

h6 {
  text-align: right;
  margin-right: 10px;
  font-size: large;
  font-weight: normal;
}

img {
  width: 100%;
}

footer {
  background-color: var(--darklatte);
  color: var(--lightaran);
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

footer a {
  color: var(--lightbuff);
  text-decoration: none;
}

footer a:link {
  color: var(--lightbuff);
}

footer a:hover {
  color: var(--lightaran);
}

.main {
  margin-left: 10px;
  margin-right: 10px;
  display: block;
}

/* Clear floats after the images */
.main:after {
  content: "";
  display: block;
  clear: both;
}

.hero-image {
  background-image: url("../Media/KnitBack.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  margin: 15% 20% 20% 20%;
  color: var(--lightcoffee);
}

.logo {
  width: 44px;
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 0px;
}

.leftimage1 {
  float: left;
  margin-right: 10px;
  width: 33%;
}

.leftimage2 {
  float: left;
  margin-right: 10px;
  width: 25%;
}

.rightimage1 {
  float: right;
  margin-left: 10px;
  width: 33%;
}

.rightimage2 {
  float: right;
  margin-left: 10px;
  width: 25%;
}
